src/main/mule/implementation/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="update-covid-caseFlow" doc:id="a33e1f01-2560-4608-988d-fd118bb46835" >
		<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="dd947294-a6f2-4564-9fa1-7fb317074602" variableName="id"/>
		<db:update doc:name="Update" doc:id="b14077f5-7337-4eac-8912-f9b90ce0707c" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE cvd_case_master 
SET SOURCE=:SOURCE, CASE_TYPE=:CASE_TYPE, FIRST_NAME=:FIRST_NAME, LAST_NAME=:LAST_NAME, PHONE=:PHONE, EMAIL=:EMAIL, DATE_OF_BIRTH=:DATE_OF_BIRTH, NATIONAL_ID=:NATIONAL_ID, NATIONAL_ID_TYPE=:NATIONAL_ID_TYPE, STREET_ADDRESS=:STREET_ADDRESS, CITY=:CITY, STATE=:STATE, POSTAL=:POSTAL, COUNTRY=:COUNTRY
WHERE CASE_ID=:ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	PHONE: payload.phone,
	POSTAL: payload.address.postal,
	STATE: payload.address.state,
	LAST_NAME: payload.lastName,
	EMAIL: payload.email,
	FIRST_NAME: payload.firstName,
	CASE_TYPE: payload.caseType,
	NATIONAL_ID: payload.nationalID,
	CITY: payload.address.city,
	COUNTRY: payload.address.country,
	NATIONAL_ID_TYPE: payload.nationalIDType,
	SOURCE: payload.source,
	STREET_ADDRESS: payload.address.streetAddress,
	DATE_OF_BIRTH: payload.dateOfBirth,
	ID: payload.id
	
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="78fee3b7-e2a0-4543-b3ad-ca5b662f7b7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	caseID: vars.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
