src/main/mule/accelerator-salesforce-salescontracts-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="accelerator-salesforce-salescontracts-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="accelerator-salesforce-salescontracts-sys-api-config" api="resource::org.mule.examples:accelerator-salesforce-salescontracts-sys-api:1.2.1:raml:zip:accelerator-salesforce-salescontracts-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="accelerator-salesforce-salescontracts-sys-api-main">
        <http:listener config-ref="accelerator-salesforce-salescontracts-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="accelerator-salesforce-salescontracts-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="accelerator-salesforce-salescontracts-sys-api-console">
        <http:listener config-ref="accelerator-salesforce-salescontracts-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="accelerator-salesforce-salescontracts-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\salesContracts\(salesContractId):application\json:accelerator-salesforce-salescontracts-sys-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="salesContractId">attributes.uriParams.'salesContractId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  severity: "ERROR",
  code: "SYSGEN5000",
  message: "The system failed to process the request",
  parameters: [
    {
      paramName: "ResourceName",
      paramValue: "/accounts"
    }, 
    {
      paramName: "ObjectId",
      paramValue: "00582245"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ping:accelerator-salesforce-salescontracts-sys-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK",
  apiName: "accelerator-salesforce-sys-api",
  apiVersion: "1.3.0",
  timestamp: "2020-08-01T13:15:25.000Z",
  dependencies: [
    {
      name: "Salesforce",
      status: "UP"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\salesContracts:accelerator-salesforce-salescontracts-sys-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\salesContracts\(salesContractId):accelerator-salesforce-salescontracts-sys-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="salesContractId">attributes.uriParams.'salesContractId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "dolore tempor",
  salesDocApprovalStatus: "dolore",
  salesContractDate: null,
  totalNetAmount: 57496789.59348509,
  customer: "proident ut aute eu",
  transactionCurrency: "enim do esse in",
  salesContractItems: [
    {
      id: null,
      auditInfo: {
        isDeleted: true,
        createdBy: "est commodo mollit",
        updatedBy: "enim",
        updatedDate: null,
        createdDate: null
      },
      pricingDate: null,
      productGroup: "sed Lorem nisi amet",
      itemGrossWeight: null,
      product: "aliqua dolor occaecat",
      itemWeightUnit: "enim",
      itemNetWeight: null,
      customerPaymentTerms: "reprehenderit minim officia",
      requestedQuantity: 89743218,
      salesContractSignedDate: null,
      productPricingGroup: "dolore consequat in ad laborum"
    }
  ],
  auditInfo: {
    isDeleted: false,
    createdBy: "eiusmod sint nostrud",
    updatedBy: "quis aliquip",
    updatedDate: null,
    createdDate: null
  },
  externalIds: [
    {
      externalIdType: [
        {
          id: null,
          name: "laborum in aliquip eu"
        }
      ],
      externalId: "quis sint ut",
      id: null,
      statusLastChangedDate: null,
      status: "VALID"
    }
  ],
  salesContractValidityStartDate: "2020-05-01",
  salesOrder: {
    id: null,
    name: "eu ut irure veniam esse",
    description: "amet",
    requestedStartDate: "2020-10-13",
    orderNumber: "ut eu",
    salesOrderConfirmationStatus: [
      "anim id dolor velit nisi"
    ],
    promiseFulfillmentDate: null,
    shipToAddress: [
      "adipisicing incididunt ad"
    ],
    customerAuthorizedDate: null,
    totalProductTaxAmount: -86460863,
    isReductionOrder: false,
    adjustedProductTaxAmount: null,
    adjustedTotalProductAmount: -10061776,
    renewalUpliftRate: 36945510,
    internalBusinessUnit: [
      "Ut ut consectetur ullamco consequat"
    ],
    isTaxExempt: null,
    promiseDate: null,
    cancelDate: "2013-03-23",
    totalAdjustmentTaxAmount: null,
    isGiftOrder: null,
    isAnonymous: false,
    totalPendingBillingAmount: null,
    soldToCustomer: [
      "nulla in non sit"
    ],
    fulfilledDate: "1978-05-25",
    totalTaxAmount: -49915945,
    billToContact: [
      "ex culpa aute"
    ],
    filedDate: null,
    totalDeliveryTaxAmount: 82750975,
    auditInfo: {
      isDeleted: null,
      createdBy: "velit",
      updatedBy: "do",
      updatedDate: null,
      createdDate: null
    },
    developerStatusCode: "labore",
    grandTotalAmount: 1137272,
    orderEndDate: "1985-08-29",
    billToPhoneNumber: [
      "pariatur nisi sit dolor in"
    ],
    isSuspended: false,
    orderStartDate: "1974-08-30",
    packedDate: "1941-05-21",
    isContracted: null,
    totalDeliveryAmount: null,
    billToAccount: [
      "quis reprehenderit ex ullamco"
    ],
    salesOrderStatus: [
      "culpa nisi cillum ad pariatur"
    ],
    activatedDate: null,
    salesOrderSystemStatus: "dolore dolor",
    billToAddress: [
      "ut aute eiusmod"
    ],
    billToEmail: [
      "officia tempor pariatur sunt"
    ],
    paymentMethod: [
      "aliquip"
    ],
    purchaseOrderNumber: "nostrud qui id do dolore",
    userDeviceSession: [
      {
        name: "labore ut sunt",
        id: null
      }
    ]
  },
  salesOrganization: "occaecat mollit dolor",
  salesContractType: "id aliqua in dolor",
  salesContractValidityEndDate: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\salesContracts:application\json:accelerator-salesforce-salescontracts-sys-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseStatus: "SUCCESS"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
